body {
    font-family: fantasy, Arial, sans-serif;
    text-align: center;
}

#image-description {
    font-size: 32px;
    font-family: cursive;
}


.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.arrow-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#image {
    max-width: 70%;
    height: auto;
    border: 32px groove rgb(113, 86, 86); 
    border-radius: 10px;
}

.mainStay {
    background: radial-gradient(circle, #0074D9, transparent); 
    background-size: cover;
    background-attachment: fixed; 
    margin: 0; 
}

.imgage-container {
    position: relative;
}

.top-left-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 25%;
}

.top-right-text {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 20px;
}

.grow-image {
    width: fit-content; /* Initial width */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.grow-image:hover {
    transform: scale(1.1); /* Scale the image up by 20% */
}



