body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#image-description {
    font-size: 32px;
    font-family: cursive;
}


.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.arrow-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#image {
    max-width: 80%;
    height: auto;
    border: 32px groove rgb(113, 86, 86); 
    border-radius: 10px;
}





